*{
    box-sizing: border-box;
}

body{
    background-color: dimgray;
    font-family: fantasy;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    letter-spacing: 3px;
    word-wrap: break-word;
}

.container{
    width: 800px;
    margin-top: 50px;
}

.currency{
    margin: 30px 0;
}

.currency input{
    padding: 10px 0;
    text-align: right;
    background-color: transparent;
    border: 0;
    font-weight: bolder;
    font-size: 19px;
}

.currency select{
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid darkslategrey;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    font-size: 19px;
}

.swap-rate-container{
    display: flex;
    justify-content: space-around;
}

.btn{
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    border: 3px solid darkslategrey;
    padding: 20px 20px;
    font-size: 19px;
}

.rate{
    font-size: 19px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}