
*{
    box-sizing: border-box;
}

body{
    background-color: #bdd2b6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20ox;
}

h1 {
    color: #2b2e4a;
}

p{
    text-align: center;
}

.btn {
    background-color: #2b2e4a;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    padding: 2px 10px;
}

.currency {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.currency select {
    padding: 10px 20px 10px 10px;
    border: 1px solid #87ac7a;
    font-size: 15px;
    background-color: transparent;
}

.currency input {
    border: 0;
    background-color: transparent;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

.swap-rate-container{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    background-color: teal;
    color: #2b2e4a;
    padding: 0 10px;
    font-size: 20px;
}

select:focus , input:focus , button:focus {
    outline: 0;
}